
.cotizacion {
  display: flex;
  align-items: center;
 flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 25px 30px;
  border-radius: 20px;
 background-color: #311b92; /* Color base morado oscuro */
  background-image:
        /* 1. Mancha Azul Eléctrico (Izquierda Media) */
    radial-gradient(at 10% 45%, hsla(234, 100%, 50%, 1) 0px, transparent 50%),
    /* 2. Mancha Púrpura Vibrante (Centro) */
    radial-gradient(at 50% 50%, hsla(271, 91%, 52%, 1) 0px, transparent 50%),
    /* 3. Mancha Fucsia/Carmesí (Esquina Inferior Derecha) */
    radial-gradient(at 85% 85%, hsla(339, 100%, 55%, 1) 0px, transparent 50%),
    /* 4. Mancha Azul Profundo (Esquina Superior Izquierda) */
    radial-gradient(at 0% 0%, hsla(232, 100%, 35%, 1) 0px, transparent 50%),
    /* 5. Destello Rosa Suave (Esquina Superior Derecha) */
    radial-gradient(at 90% 15%, hsla(340, 80%, 65%, 0.8) 0px, transparent 50%);

  /* Para asegurar que el fondo se vea bien en cualquier tamaño */  
 
  color: white;
  max-width: 1100px;
  margin: 40px auto;
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.235);

  overflow: hidden;
}

.Icono-cotizacion {
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.329);
  padding: 15px;
  border-radius: 50%;
  object-fit: contain;
    filter: invert(1);

}

.cotizacion-mesaje span {
  font-size: 16px;
  opacity: 0.9;
  
}

.cotizacion-mesaje h5 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 5px;
}


.cotizacion a {
  text-decoration: none;
}

.cotizacion button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.339);
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  
}

.cotizacion button img {
  width: 20px;
  height: 20px;
     filter: invert(1);


}

@media (max-width: 798px) {
  .cotizacion {

 
  gap: 1.7rem;}
}