.info-block {
  padding: 10px 30px;
}

/* info container */
.icon-info{
   width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%; 
  background-color: #311b92; /* Color base morado oscuro */
  background-image:
        /* 1. Mancha Azul Eléctrico (Izquierda Media) */
    radial-gradient(at 10% 45%, hsla(234, 100%, 50%, 1) 0px, transparent 50%),
    /* 2. Mancha Púrpura Vibrante (Centro) */
    radial-gradient(at 50% 50%, hsla(271, 91%, 52%, 1) 0px, transparent 50%),
    /* 3. Mancha Fucsia/Carmesí (Esquina Inferior Derecha) */
    radial-gradient(at 85% 85%, hsla(339, 100%, 55%, 1) 0px, transparent 50%),
    /* 4. Mancha Azul Profundo (Esquina Superior Izquierda) */
    radial-gradient(at 0% 0%, hsla(232, 100%, 35%, 1) 0px, transparent 50%),
    /* 5. Destello Rosa Suave (Esquina Superior Derecha) */
    radial-gradient(at 90% 15%, hsla(340, 80%, 65%, 0.8) 0px, transparent 50%);

  /* Para asegurar que el fondo se vea bien en cualquier tamaño */  
 
}

.info-block img {
 width: 100%;
  margin-bottom: 10px;
  padding: 4px ;
  filter: invert(1);
 
  
}

.info-block h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
}

/* Chips */

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.chip {
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 17px;
  color: #fff;
  font-weight: 500;

 background-color: #311b92; /* Color base morado oscuro */
  background-image:
        /* 1. Mancha Azul Eléctrico (Izquierda Media) */
    radial-gradient(at 10% 45%, hsla(234, 100%, 50%, 1) 0px, transparent 50%),
    /* 2. Mancha Púrpura Vibrante (Centro) */
    radial-gradient(at 50% 50%, hsla(271, 91%, 52%, 1) 0px, transparent 50%),
    /* 3. Mancha Fucsia/Carmesí (Esquina Inferior Derecha) */
    radial-gradient(at 85% 85%, hsla(339, 100%, 55%, 1) 0px, transparent 50%),
    /* 4. Mancha Azul Profundo (Esquina Superior Izquierda) */
    radial-gradient(at 0% 0%, hsla(232, 100%, 35%, 1) 0px, transparent 50%),
    /* 5. Destello Rosa Suave (Esquina Superior Derecha) */
    radial-gradient(at 90% 15%, hsla(340, 80%, 65%, 0.8) 0px, transparent 50%);

  /* Para asegurar que el fondo se vea bien en cualquier tamaño */  
 
}

/* list */

.list-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

/* Item */
.list-item {
  font-size: 15px;
  color: #374151;
  display: flex;
  align-items: center;

  gap: 10px;
}


.list-item::before {
  content: "✔";
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;
  border-radius: 50%;

background-color: #311b92; /* Color base morado oscuro */
  background-image:
        /* 1. Mancha Azul Eléctrico (Izquierda Media) */
    radial-gradient(at 10% 45%, hsla(234, 100%, 50%, 1) 0px, transparent 50%),
    /* 2. Mancha Púrpura Vibrante (Centro) */
    radial-gradient(at 50% 50%, hsla(271, 91%, 52%, 1) 0px, transparent 50%),
    /* 3. Mancha Fucsia/Carmesí (Esquina Inferior Derecha) */
    radial-gradient(at 85% 85%, hsla(339, 100%, 55%, 1) 0px, transparent 50%),
    /* 4. Mancha Azul Profundo (Esquina Superior Izquierda) */
    radial-gradient(at 0% 0%, hsla(232, 100%, 35%, 1) 0px, transparent 50%),
    /* 5. Destello Rosa Suave (Esquina Superior Derecha) */
    radial-gradient(at 90% 15%, hsla(340, 80%, 65%, 0.8) 0px, transparent 50%);

  /* Para asegurar que el fondo se vea bien en cualquier tamaño */  
 

  color: white;
  font-size: 12px;
}

@media screen and (max-width:789px){
  .info-block {
  padding: 10px 5px;
}
}