.brands {
  padding: 70px 40px;
  background-color: #f9f9f9;
  width: 100%;
}

.brands-header {
  text-align: center;
  margin-bottom: 45px;
}

.badge {
  display: inline-block;
background-color: #311b929a; /* Color base morado oscuro */
  background-image:
        /* 1. Mancha Azul Eléctrico (Izquierda Media) */
    radial-gradient(at 10% 45%, rgba(0, 26, 255, 0.426) 0px, transparent 50%),
    /* 2. Mancha Púrpura Vibrante (Centro) */
    radial-gradient(at 50% 50%, rgba(136, 21, 244, 0.475) 0px, transparent 50%),
    /* 3. Mancha Fucsia/Carmesí (Esquina Inferior Derecha) */
    radial-gradient(at 85% 85%, rgba(255, 26, 106, 0.835) 0px, transparent 50%),
    /* 4. Mancha Azul Profundo (Esquina Superior Izquierda) */
    radial-gradient(at 0% 0%, rgba(0, 24, 179, 0.52) 0px, transparent 50%),
    /* 5. Destello Rosa Suave (Esquina Superior Derecha) */
    radial-gradient(at 90% 15%, hsla(340, 80%, 65%, 0.8) 0px, transparent 50%);

  /* Para asegurar que el fondo se vea bien en cualquier tamaño */  
   color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 12px;
}

.brands-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--text-dark);
}

.brands-header p {
  font-size: 14px;
  color: var(--text-light);
  max-width: 500px;
  margin: 0 auto;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.brand-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 130px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.brand-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.357);
}

.brand-card img {
  width: 105px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 10px;
}

.brand-card h3 {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-dark);
  border-bottom: 2px solid var(--primary-blue);
  padding-bottom: 8px;
  width: 100%;
}

@media (max-width: 1024px) {
  .brands-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .brands {
    padding: 40px 20px;
  }

 
}
